# MongoDB Connection URI
MONGODB_URI=

# Base URL (For local development)
NEXT_PUBLIC_BASE_URL=

# Cloudinary Credentials (For image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# PostHog Analytics (Optional)
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
